<!DOCTYPE html>
<html>
  <head>
    <title>G-Cord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.icon = "<%= image_url('splash/icon.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
