<!DOCTYPE html>
<html>
  <head>
    <title>G-Cord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans&display=swap" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "https://kit.fontawesome.com/9bfe22d715.js" %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.icon = "<%= image_url('splash/icon.png') %>";
      window.bannerBiggie = "<%= image_url('banner/biggie.png') %>";
      window.bannerDiddy = "<%= image_url('banner/diddy.png') %>";
      window.bannerBlurb = "<%= image_url('banner/dream.png') %>";
      window.bannerLilKim = "<%= image_url('banner/lilkim.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
